<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <conekta_cc>
                <active>0</active>
                <title><![CDATA[Pago con tarjeta de crédito o débito]]></title>
                <group>conekta</group>
                <model>ConektaPaymentsCreditCardFacade</model>
                <cctypes>AE,VI,MC</cctypes>
                <monthly_installments>3,6,9,12,18</monthly_installments>
                <minimum_amount_monthly_installments>300</minimum_amount_monthly_installments>
                <sort_order>1</sort_order>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <min_order_total>10</min_order_total>
                <max_order_total></max_order_total>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <debugReplaceKeys>MERCHANT_KEY</debugReplaceKeys>
                <paymentInfoKeys>FRAUD_MSG_LIST</paymentInfoKeys>
                <privateInfoKeys>FRAUD_MSG_LIST</privateInfoKeys>
            </conekta_cc>

            <!-- Conekta OXXO -->
            <conekta_oxxo>
                <active>0</active>
                <title>Pago en Efectivo con Oxxo</title>
                <model>ConektaPaymentsOxxoFacade</model>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <group>offline</group>
                <min_order_total>10</min_order_total>
                <max_order_total>10000</max_order_total>
                <expiry_days>7</expiry_days>
                <instructions><![CDATA[Instrucciones de Pago]]></instructions>
                <is_offline>1</is_offline>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
            </conekta_oxxo>
            <!-- // Conekta OXXO // -->

            <!-- Conekta SPEI -->
            <conekta_spei>
                <active>0</active>
                <title>Transferencia SPEI</title>
                <model>ConektaPaymentsSpeiFacade</model>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <group>offline</group>
                <min_order_total>15</min_order_total>
                <max_order_total></max_order_total>
                <expiry_days>7</expiry_days>
                <instructions><![CDATA[Instrucciones de Pago]]></instructions>
                <is_offline>1</is_offline>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
            </conekta_spei>
            <!-- // Conekta SPEI // -->
        </payment>
        <conekta>
            <global>
                <api_version><![CDATA[2.0.0]]></api_version>
                <plugin_type><![CDATA[Magento 2]]></plugin_type>
                <plugin_version><![CDATA[3.0.0]]></plugin_version>
            </global>
        </conekta>
    </default>
</config>
