<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <!-- Global -->
                <item name="conekta_global_provider" xsi:type="object">Conekta\Payments\Model\Ui\ConfigProvider</item>
                <!-- Credit Card -->
                <item name="conekta_cc_provider" xsi:type="object">Conekta\Payments\Model\Ui\CreditCard\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Conekta\Payments\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Conekta\Payments\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">conektaLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">Conekta\Payments\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- ++++++++++++++++++++++++++++++++++++++++++ Credit Card ++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Payment Method Facade configuration -->
    <virtualType name="ConektaPaymentsCreditCardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Conekta\Payments\Model\Ui\CreditCard\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Conekta\Payments\Block\CreditCard\CcInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">ConektaPaymentsCreditCardValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">ConektaPaymentsCreditCardCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="ConektaPaymentsCreditCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Conekta\Payments\Model\Ui\CreditCard\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with ConektaPaymentsCreditCardConfig -->
    <virtualType name="ConektaPaymentsCreditCardLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsCreditCardConfig</argument>
        </arguments>
    </virtualType>

    <type name="Conekta\Payments\Gateway\Http\Client\CreditCard\TransactionCapture">
        <arguments>
            <argument name="logger" xsi:type="object">ConektaPaymentsCreditCardLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="ConektaPaymentsCreditCardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">ConektaPaymentsCreditCardCaptureCommand</item>
                <item name="refund" xsi:type="string">ConektaPaymentsCreditCardRefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Capture command -->
    <virtualType name="ConektaPaymentsCreditCardCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">ConektaPaymentsCreditCardCaptureRequest</argument>
            <argument name="handler" xsi:type="object">ConektaPaymentsCreditCardResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Conekta\Payments\Gateway\Http\TransferFactory</argument>
            <!--<argument name="validator" xsi:type="object">Conekta\Payments\Gateway\Validator\CreditCard\ResponseCodeValidator</argument>-->
            <argument name="client" xsi:type="object">Conekta\Payments\Gateway\Http\Client\CreditCard\TransactionCapture</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <virtualType name="ConektaPaymentsCreditCardCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="requestBuilder" xsi:type="string">Conekta\Payments\Gateway\Request\CreditCard\CaptureRequest</item>
                <item name="lineItems" xsi:type="string">Conekta\Payments\Gateway\Request\LineItemsBuilder</item>
                <item name="taxLines" xsi:type="string">Conekta\Payments\Gateway\Request\TaxLinesBuilder</item>
                <item name="customerInfo" xsi:type="string">Conekta\Payments\Gateway\Request\CustomerInfoBuilder</item>
                <item name="shippingLines" xsi:type="string">Conekta\Payments\Gateway\Request\ShippingLinesBuilder</item>
                <item name="discountLines" xsi:type="string">Conekta\Payments\Gateway\Request\DiscountLinesBuilder</item>
                <item name="shippingContact" xsi:type="string">Conekta\Payments\Gateway\Request\ShippingContactBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Conekta\Payments\Gateway\Request\CreditCard\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsCreditCardConfig</argument>
        </arguments>
    </type>

    <!-- Refund Command -->
    <virtualType name="ConektaPaymentsCreditCardRefundCommand" type="Conekta\Payments\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">ConektaPaymentsCreditCardRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">Conekta\Payments\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Conekta\Payments\Gateway\Http\Client\CreditCard\TransactionRefund</argument>
            <argument name="validator" xsi:type="object">Conekta\Payments\Gateway\Validator\CreditCard\RefundValidator</argument>
            <argument name="handler" xsi:type="object">ConektaPaymentsCreditCardRefundResponseHandler</argument>
        </arguments>
    </virtualType>

    <!-- Refund Request Builder Composite -->
    <virtualType name="ConektaPaymentsCreditCardRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="refund" xsi:type="string">Conekta\Payments\Gateway\Request\CreditCard\RefundBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Conekta\Payments\Gateway\Request\CreditCard\RefundBuilder">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsCreditCardConfig</argument>
        </arguments>
    </type>

    <!-- Refund Response Handler Composite -->
    <virtualType name="ConektaPaymentsCreditCardRefundResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="refund" xsi:type="string">Conekta\Payments\Gateway\Response\CreditCard\RefundHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Response handlers -->
    <virtualType name="ConektaPaymentsCreditCardResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Conekta\Payments\Gateway\Response\CreditCard\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Conekta\Payments\Gateway\Response\CreditCard\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="ConektaPaymentsCreditCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">ConektaPaymentsCreditCardConfigValueHandler</item>
                <item name="payment_action" xsi:type="string">Conekta\Payments\Gateway\Config\CreditCard\PaymentActionValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ConektaPaymentsCreditCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">ConektaPaymentsCreditCardConfig</argument>
        </arguments>
    </virtualType>

    <type name="Conekta\Payments\Block\CreditCard\CcInfo">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsCreditCardConfig</argument>
        </arguments>
    </type>
    <!-- **************************************** Credit Card END ******************************************* -->

    <!-- +++++++++++++++++++++++++++++++++++++++++++++ OXXO +++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Payment Method Facade configuration -->
    <virtualType name="ConektaPaymentsOxxoFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Conekta\Payments\Model\Ui\Oxxo\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Conekta\Payments\Block\Oxxo\OxxoInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">ConektaPaymentsOxxoValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">ConektaPaymentsOxxoCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="ConektaPaymentsOxxoConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Conekta\Payments\Model\Ui\Oxxo\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with ConektaPaymentsOxxoConfig -->
    <virtualType name="ConektaPaymentsOxxoLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsOxxoConfig</argument>
        </arguments>
    </virtualType>

    <type name="Conekta\Payments\Gateway\Http\Client\Oxxo\TransactionAuthorize">
        <arguments>
            <argument name="logger" xsi:type="object">ConektaPaymentsOxxoLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="ConektaPaymentsOxxoCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">ConektaPaymentsOxxoAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Capture command -->
    <virtualType name="ConektaPaymentsOxxoAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">ConektaPaymentsOxxoAuthorizeRequest</argument>
            <argument name="handler" xsi:type="object">ConektaPaymentsOxxoResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Conekta\Payments\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Conekta\Payments\Gateway\Http\Client\Oxxo\TransactionAuthorize</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <virtualType name="ConektaPaymentsOxxoAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="requestBuilder" xsi:type="string">Conekta\Payments\Gateway\Request\Oxxo\AuthorizeRequest</item>
                <item name="lineItems" xsi:type="string">Conekta\Payments\Gateway\Request\LineItemsBuilder</item>
                <item name="taxLines" xsi:type="string">Conekta\Payments\Gateway\Request\TaxLinesBuilder</item>
                <item name="customerInfo" xsi:type="string">Conekta\Payments\Gateway\Request\CustomerInfoBuilder</item>
                <item name="shippingLines" xsi:type="string">Conekta\Payments\Gateway\Request\ShippingLinesBuilder</item>
                <item name="discountLines" xsi:type="string">Conekta\Payments\Gateway\Request\DiscountLinesBuilder</item>
                <item name="shippingContact" xsi:type="string">Conekta\Payments\Gateway\Request\ShippingContactBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Conekta\Payments\Gateway\Request\Oxxo\AuthorizeRequest">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsOxxoConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="ConektaPaymentsOxxoResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Conekta\Payments\Gateway\Response\Oxxo\TxnIdHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->

    <virtualType name="ConektaPaymentsOxxoValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">ConektaPaymentsOxxoConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ConektaPaymentsOxxoConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">ConektaPaymentsOxxoConfig</argument>
        </arguments>
    </virtualType>


    <type name="Conekta\Payments\Block\Oxxo\OxxoInfo">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsOxxoConfig</argument>
        </arguments>
    </type>
    <!-- ******************************************* OXXO End *********************************************** -->

    <!-- +++++++++++++++++++++++++++++++++++++++++++++ SPEI +++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Payment Method Facade configuration -->
    <virtualType name="ConektaPaymentsSpeiFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Conekta\Payments\Model\Ui\Spei\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Conekta\Payments\Block\Spei\SpeiInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">ConektaPaymentsSpeiValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">ConektaPaymentsSpeiCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="ConektaPaymentsSpeiConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Conekta\Payments\Model\Ui\Spei\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with ConektaPaymentsSpeiConfig -->
    <virtualType name="ConektaPaymentsSpeiLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsSpeiConfig</argument>
        </arguments>
    </virtualType>

    <type name="Conekta\Payments\Gateway\Http\Client\Spei\TransactionAuthorize">
        <arguments>
            <argument name="logger" xsi:type="object">ConektaPaymentsSpeiLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="ConektaPaymentsSpeiCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">ConektaPaymentsSpeiAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Capture command -->
    <virtualType name="ConektaPaymentsSpeiAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">ConektaPaymentsSpeiAuthorizeRequest</argument>
            <argument name="handler" xsi:type="object">ConektaPaymentsSpeiResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Conekta\Payments\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Conekta\Payments\Gateway\Http\Client\Spei\TransactionAuthorize</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <virtualType name="ConektaPaymentsSpeiAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="requestBuilder" xsi:type="string">Conekta\Payments\Gateway\Request\Spei\AuthorizeRequest</item>
                <item name="lineItems" xsi:type="string">Conekta\Payments\Gateway\Request\LineItemsBuilder</item>
                <item name="taxLines" xsi:type="string">Conekta\Payments\Gateway\Request\TaxLinesBuilder</item>
                <item name="customerInfo" xsi:type="string">Conekta\Payments\Gateway\Request\CustomerInfoBuilder</item>
                <item name="shippingLines" xsi:type="string">Conekta\Payments\Gateway\Request\ShippingLinesBuilder</item>
                <item name="discountLines" xsi:type="string">Conekta\Payments\Gateway\Request\DiscountLinesBuilder</item>
                <item name="shippingContact" xsi:type="string">Conekta\Payments\Gateway\Request\ShippingContactBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Conekta\Payments\Gateway\Request\Spei\AuthorizeRequest">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsSpeiConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="ConektaPaymentsSpeiResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Conekta\Payments\Gateway\Response\Spei\TxnIdHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->

    <virtualType name="ConektaPaymentsSpeiValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">ConektaPaymentsSpeiConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ConektaPaymentsSpeiConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">ConektaPaymentsSpeiConfig</argument>
        </arguments>
    </virtualType>


    <type name="Conekta\Payments\Block\Spei\SpeiInfo">
        <arguments>
            <argument name="config" xsi:type="object">ConektaPaymentsSpeiConfig</argument>
        </arguments>
    </type>
    <!-- ******************************************* SPEI End *********************************************** -->
</config>
