.conekta-section .conekta-payment-logo {background: url("../images/conekta.svg")  no-repeat;
    height: 35px; width: auto; padding-left: 20rem; display:inline-block; vertical-align: middle;}
.conekta-section.section-config.with-button .config-heading .button-container {float: right; margin:0;}
.conekta-section .conekta-payment-text { display: inline-block; vertical-align: middle; width: 50%}
