<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="conekta" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <comment><![CDATA[<div class="conekta-payment-logo"></div><div class="conekta-payment-text">Conekta Configuration. </div>]]></comment>
                <fieldset_css>complex conekta-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <!--global-->
                <group id="conekta_global" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General Configuration</label>
                    <comment>
                        <![CDATA[<a href="https://conekta.io/" target="_blank">Click here to sign up for Conekta account</a>]]>
                    </comment>
                    <field id="sandbox_mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Sandbox</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <!-- Key's Setup -->
                    <field id="test_public_api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Public Key</label>
                    </field>
                    <field id="test_private_api_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Test Private Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="live_public_api_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Live Public Key</label>
                    </field>
                    <field id="live_private_api_key" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Live Private Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <!-- // Key's Setup // -->
                    <field id="conekta_webhook" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Webhook</label>
                        <comment>
                            <![CDATA[Default webhook is: <strong>your_magento_host/conekta/webhook/listener</strong>]]>
                        </comment>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <!--creditcard-->
                <group id="conekta_creditcard" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credit Card</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <config_path>payment/conekta_cc/active</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="cctypes" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Credit Card Types</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_cc/cctypes</config_path>
                        <source_model>Conekta\Payments\Model\Source\Cctype</source_model>
                    </field>
                    <!-- Monthly Installments Setup -->
                    <field id="active_monthly_installments" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Active Monthly Installments</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="monthly_installments" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Monthly Installments Available</label>
                        <config_path>payment/conekta_cc/monthly_installments</config_path>
                        <source_model>Conekta\Payments\Model\Source\MonthlyInstallments</source_model>
                        <depends>
                            <field id="active_monthly_installments">1</field>
                        </depends>
                    </field>
                    <field id="minimum_amount_monthly_installments" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Minimum Amount for Monthly Installments</label>
                        <validate>validate-number validate-number-range number-range-300-10000000000</validate>
                        <comment>The minimum amount is $300 [MXN]</comment>
                        <config_path>payment/conekta_cc/minimum_amount_monthly_installments</config_path>
                        <depends>
                            <field id="active_monthly_installments">1</field>
                        </depends>
                    </field>
                    <!-- // Monthly Installments END // -->
                    <field id="min_order_total" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Minimum Order Total</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_cc/min_order_total</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_cc/sort_order</config_path>
                    </field>
                </group>
                <!-- Conekta OXXO -->
                <group id="conekta_oxxo" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>OXXO</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <config_path>payment/conekta_oxxo/active</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Minimum Order Total</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <validate>validate-number validate-number-range number-range-10-10000</validate>
                        <comment>The minimum amount is $10 [MXN]</comment>
                        <config_path>payment/conekta_oxxo/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Maximum Order Total</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <validate>validate-number validate-number-range number-range-10-10000</validate>
                        <comment>The maximum amount is $10000 [MXN]</comment>
                        <config_path>payment/conekta_oxxo/max_order_total</config_path>
                    </field>
	                <field id="expiry_days" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Expiry (# days)</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_oxxo/expiry_days</config_path>
                        <validate>validate-expiry-days</validate>
	                </field>
	                <field id="instructions" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
	                    <label>Instructions</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
	                    <config_path>payment/conekta_oxxo/instructions</config_path>
	                </field>
                    <field id="order_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Conekta\Payments\Model\Source\Order\Status\Pendingpayment</source_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_oxxo/order_status</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/conekta_oxxo/sort_order</config_path>
                    </field>
                </group>
                <!-- // Conekta OXXO // -->

                <!-- Conekta SPEI -->
                <group id="conekta_spei" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SPEI</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <config_path>payment/conekta_spei/active</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Minimum Order Total</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <validate>validate-number validate-number-range number-range-15-10000000000000000000</validate>
                        <comment>The minimum amount is $15 [MXN]</comment>
                        <config_path>payment/conekta_spei/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Maximum Order Total</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_spei/max_order_total</config_path>
                    </field>

                    <field id="expiry_days" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Expiry (# days)</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_spei/expiry_days</config_path>
                        <validate>validate-expiry-days</validate>
                    </field>
                    <field id="account_owner" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Account Owner</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_spei/account_owner</config_path>
                    </field>
                    <field id="instructions" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Instructions</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_spei/instructions</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Conekta\Payments\Model\Source\Order\Status\Pendingpayment</source_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <config_path>payment/conekta_spei/order_status</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/conekta_spei/sort_order</config_path>
                    </field>
                </group>
                <!-- // Conekta SPEI // -->
            </group>
        </section>
    </system>
</config>
